<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="It's the login page, used to enter the website :)">
    <link rel="stylesheet" href="../css/login.css">
    <title>SignUp</title>
</head>

<body>
    <section>
        <div class="errorAlert">
            <%=errorMakingUser%>
        </div>
        <div class="image"><img src="../images/4354122.png" /></div>
        <div class="logo"><img src="../images/logo3.png" /></div>

        <form action="/signup" method="POST">
            <fieldset>
                <input type="text" placeholder="Add your name" name="name" class="name" />
                <div class="name error"></div>
            </fieldset>
            <fieldset>
                <input type="text" placeholder="Email Address" name="email" class="email" inputmode="email" />
                <div class="email error"></div>
            </fieldset>
            <fieldset>
                <input type="password" placeholder="Password" name="password" class="password" />
                <div class="password error"></div>
            </fieldset>
            <input type="submit" value="Sign Up" />
        </form>

        <div class="haveornew">
            <p>Have an account?</p>
            <span><a href="LogIn">Log In</a></span>
        </div>
    </section>


    <script>
        let errorMakingUser = document.querySelector(".errorAlert")
        if (errorMakingUser.textContent.trim() !== "") {
            errorMakingUser.style.display = "block"
        }
    </script>
</body>


</html>