<footer>
    <p>developed and maintained by Abdulrahman Emad</p>
    <ul>
        <li><a href="https://www.behance.net/abdulrahmanemad2" target="_blank"><img src="/images/behance.svg" alt=""></a></li>
        <li><a href="https://github.com/" target="_blank"><img src="/images/github.svg" alt=""></a></li>
    </ul>
</footer>