<header>
    <div class="upperHeaderPart">
      <div class="logo">
          <a href="/">
            <img src="/images/logo3.png" alt="logo">
          </a>
      </div>
      <%if(!user){%>
        <a href="/signup" class="signup">Sign up</a>
        <%}%>
        <%if(user){%>
        <div class="headerImg"><a href="/profile/<%=user._id%>"><img src="data:image/<%=user.avatar.contentType%>;base64,<%=user.avatar.data.toString('base64')%>" alt=""></a></div>
        <%}%>
    </div>
    <ul class="utilities">
    <li><a href="/">Home</a></li>
    <li><a href="/challenge">Challenges</a></li>
    <li><a href="/publish">Publish</a></li>
    </ul>   
</header>