<article class="book">
    <a href="/summary/<%=summary._id%>">
        <div class="bookImage"><img src="/images/bookimage.jpg" alt=""></div>
        <h3 class="title"><%=summary.title%></h3>
        <p class="writer"> By <a href="profile.html"><%=summary.publisher%></a></p>
    </a>
</article>       

