<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editProfile.min.css">
    <title>goodSummaries</title>
</head>
<body>
   <%-include("partials/header")%>
    <main class="contentPadding">
        <form action="profile" method="POST">
            <label for="name">name</label>
            <input type="text" name="name" id="name" value="<%=user.name%>">
            <label for="cover">Profile Photo</label>
            <input type="file" name="cover" id="cover">
            <button type="submit">Submit</button>
        </form>
    </main>
    <%-include("partials/footer.ejs")%>
</body>
</html>