<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="It's the login page, used to enter the website :)">

    <title>Error</title>
    <link rel="stylesheet" href="../css/errorpage.css">
</head>


<body>
    <div class="img"> <img src="../images/cover.png"></div>
    <h5><%=errorMessage%></h5>
</body>

</html>