<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.min.css">
    <title>goodSummaries</title>
</head>
<body>
    <main>
        <p class="serverMessage" id="serverMessage"><%=errorMessage%></p>
        <div class="mainCover"><img src="images/signup.png" alt=""></div>
        <div class="logo"><img src="images/logo3.png" alt=""></div>
        <p class="info">A community in which people can share their summaries</p>
        <form action="login" method="POST" class="form">
            <input type="email" name="email" id= "email" placeholder="Email Address" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <p class="passwordMessage"></p>
            <button type="submit"> Log in</button>
        </form>
        <p>New <a href="/signup">Sign Up</a></p>
    </main>
    <script src="js/validation.js"></script>
</body>
</html>