<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/auth.min.css">
    <title>goodSummaries</title>
</head>
<body>
    <main>
        <div class="mainCover"><img src="images/signup.png" alt=""></div>
        <div class="logo"><img src="images/logo3.png" alt=""></div>
        <form action="signup" method="POST">
            <input type="text" name="userName" id="userName" placeholder="Add your name" required>
            <input type="email" name="email" id= "email" placeholder="Email Address" required>
            <input type="password" name="password" id="password" placeholder="password" required>
            <p class="passwordMessage"></p>
            <button type="submit">  Sign Up</button>
        </form>
        <p>Have an account? <a href="/login">Log in</a></p>
    </main>
    <script src="js/validation.js"></script>
</body>
</html>