$mainColor:#727272;
$secondaryColor: #f8f2e9;
$accentColor: #53BCBC;
$mainfont: Arial;
$textColor:rgb(133, 132, 132);

/* || start form-search style*/
form.mainform {
		
	input {
		box-shadow: 4px 4px black;
		border: 2px solid #0f0f0f;
		&:hover{
			border: 1px solid $accentColor
		}
	}
	::placeholder {
		opacity: 0.6;
		font-family: Arial, Helvetica, sans-serif;
	}
	.title {
		margin-top: 4px;
		margin-bottom: 20px;
	}
	label {
		display: block;
		font-size: 18px;
		color: $mainColor;
	}
	label.title {
		margin-bottom: 0 !important;
	}
	.Category-select{
		label{
			margin-bottom:9px !important;
		}
		datalist {
			color: $textColor;
			max-width: 200px;
			margin-top: 0;
			box-shadow: 4px 4px black;
			border: 2px solid #0f0f0f;
		}
}
button{
	margin-top:42px;
	background-color:$accentColor;
	color:white;
	border:none;
	outline:none;
	border-radius: 6px;
	padding:5px 15px;
	cursor: pointer;
  &:hover{
	  background-color:#349797	
  }
}
}
/*|| end form-search style*/