/*start main style*/

$mainColor:#727272;
$secondaryColor2: #f8f2e9;
$accentColor: #53BCBC;
$mainfont: Arial;
$textColor:rgb(133, 132, 132);
* {
	box-sizing: border-box
}
a {
	text-decoration: none !important;
}

/*start main style*/

/*start nav style*/

.active{
	border-bottom: 3px solid $accentColor
}

.navbar {
	position: fixed;
	z-index: 5;
	width: 100%;
	img {
		height: 40px;
	}


}
nav {
	background-color: $mainColor;
	color: $secondaryColor2;
	ul {
		a {
			opacity: 0.9;
			font-weight: bold;
			color: $secondaryColor2 !important;
		}
		li {
			&:hover {
				border-bottom: 3px solid $accentColor
			}
		}
	}
	.utilities {
		i {
			font-size: 20px;
			color: $secondaryColor2
		}
		li {
			margin: 0 5px
		}
		li.login {
			font-size: 14px
		}
		li.signup {
			font-size: 14px;
			border-radius: 15px;
			&:hover {
				background-color: #3d9999 !important
			}
		}
	}
	.section-elements {
		font-size: 17px
	}
}
/*end nav style*/