$mainColor:#727272;
$secondaryColor2: #f8f2e9;
$accentColor: #53BCBC;
$mainfont: Arial;
$textColor:rgb(133, 132, 132);

/* start slide style*/
section.webinfo {
	padding:30px;
	.infoimage {
		display: flex;
		justify-content: center;
		align-items: center;
		color:$accentColor;
		text-align: center;
			h1 {
				font-weight: bold;
				font-size: 70px;
			}
		}
}
/* end slide style*/