<div class="set-challenge">
    <div class="container">
        <p class="add-challenge">Add new one</a>
        <div class="set-input d-none">
            <form action="challenges" method="POST">
                <label class="">I aim to summary</label>
                <input type="number" name="numberOfBooks" min="1" required placeholder="number of books">
                <label for="">from</label>
                <input class="startDate" type="date" name="startDate">
                <label for="">to</label>
                <input class="endDate" type="date" required name="endDate">
                <button class="set" type="submit">Set</button>
            </form>
        </div>
    </div>
</div>