<div class="set-challenge">
    <div class="container">
        <p class="add-challenge">Add new one</a>
        <div class="set-input d-none">
            <form action="/Goodsummaries/challenges" method="POST">
                <label class="">I want to summary</label>
                <input type="number" name="numberOfBooks" min="1" required placeholder="number of books">
                <label>in 2021</label>
                <button class="set" type="submit">Set</button>
            </form>
        </div>
    </div>
</div>