<div class="edit-challenge d-none">
    <form action="/Goodsummaries/challenges/edit/<%=challenge._id%>" method="POST">
        I want to summary
        <input type="text" name="numberOfBooks" min="1" value="<%=challenge.numberOfBooks%>" /> books in 2021
        <div class="links">
            <button type="submit" class="update button">Update</button>
    </form>
    <a href="/Goodsummaries/challenges" class="cancel button">Cancel</a>
</div>