<%if(challenge){%>
    <div class="challenge">
        <%let myNumberOfBook=challenge.numberOfBooks %>
            <%let myNumberOfSummaries=challenge.numberOfSummaries %>
                <%const totalValue=(myNumberOfSummaries /myNumberOfBook)*100 %>
                    <div class="display-challenge">
                        <div class="challenge-img"><img src="../images/123.png" /></div>
                        <p class="">You have put <span class="challenge-number">
                                <%=challenge.numberOfSummaries%>
                            </span> of <span class="challenge-number">
                                <%=challenge.numberOfBooks%>
                            </span>
                            Summaries
                        </p>
                        <progress value="<%=totalValue%>" max="100">
                        </progress>
                        <a href="/challenges/<%=user.name%>" class="challenge-view-link">View
                            Challenge</a>
                    </div>
    </div>
    <%}%>