<section class="webinfo">
    <div class="infoimage">
        <div class="overflow"></div>
        <div class="coverText">
            <div class="image"><img src="images/slideimage3.png" alt="" height=500px></div>
        </div>
    </div>
</section>