<section class="webinfo">
    <div class="infoimage">
        <div class="overflow"></div>
        <div class="coverText">
            <h1 class="d-none d-lg-block">Read and make us read</h1>
            <p class="d-none d-lg-block">Share your summaries, or read others</p>
        </div>
    </div>
</section>