<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/publish.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="stylesheet" href="../css/header.css">
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="../javascripts/filepond.js"></script>
  <script src="https://cdn.tiny.cloud/1/izfyyegnnafqa89ac21by8or054frlvlnt15wliptepsgr5l/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#Summary',
      height: 400,
      plugins: 'lists, link, image, media',
      toolbar: "undo redo | styleselect | bold italic | justifyleft justifycenter justifyright | bullist numlist |forecolor backcolor| preview code",

      menubar: false,
      setup: function (editor) {
        editor.on('change', function (e) {
          editor.save();


        });
      }
    })
  </script>
  <title>Publish</title>

</head>

<body>


  <%-include("../portials/header")%>
  <section class="publish">
    <div class="container">
      <div class="bookinfo">
        <form action="/Goodsummaries/book/add" method="POST">

          <div class="titleandimage">
            <div class="title">
              <label>Title</label>
              <input type="text" name="Title" required />
            </div>
            <div class="ui field">
              <labal for="img">BookCover</labal>
              <input id="img" type="file" name="cover" required class="filepond" />
            </div>
          </div>

          <label>Summary</label>
          <textarea rows="10" cols="40" id="Summary" minlength="50" required name="Summary" class="Summary"></textarea>

          <label for="select">Category</label>
          <select id="select" required name="Category">
            <option value="Fantsy">Fantsy</option>
            <option value="Drama">Drama</option>
            <option value="Logic">Logic</option>
            <option value="Romance">Romance</option>
            <option value="Mystery">Mystery</option>
            <option value="Religious books">Religious books</option>
            <option value="Inspirational">Inspirational</option>
            <option value="Science">Science</option>
            <option value="Self-help">Self-help</option>
            <option value="Literary">Literary</option>
            <option value="psychology">psychology</option>
            <option value="history">history</option>
          </select>

          <div class="challenges">
            <label for="">Add to the challenge</label>
            <input class="challengeCheck" type="checkbox" name="challengeCheck">
          </div>

          <input type="submit"></input>
  </section>

  <!--end submit info-->
  <%-include("../portials/scripts")%>