<fieldset class="Category-select col-4">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Category</label>
        <input list="Category" name="Category" class="form-control" required placeholder="Fantsy" />
        <datalist id="Category" class="Category">
                <option choosed value="Fantsy">Fantsy</option>
                <option value="Drama">Drama</option>
                <option value="Logic">Logic</option>
                <option value="Romance">Romance</option>
                <option value="Mystery">Mystery</option>
                <option value="Religious books">Religious books</option>
                <option value="Inspirational">Inspirational</option>
                <option value="Science">Science</option>
                <option value="Self-help">Self-help</option>
                <option value="Literary">Literary</option>
                <option value="psychology">psychology</option>
                <option value="history">history</option>
        </datalist>
</fieldset>