<footer>
	<header>
		<h2>
			Goodsummaries is a community in which people can share their summaries of books or read others :)
		</h2>
	</header>
	<p>developed and maintained by -Abdulrahman Emad-</p>
	<ul>
		<a href="https://www.behance.net/abdulrahmanemad2">
			<li> <i class="fab fa-behance"></i></li>
		</a>
		<li><i class="fab fa-facebook"></i></li>
	</ul>
</footer>