<!--start navbar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/Goodsummaries"><img src="../../../images/logo4.png" alt="Logo"> </a>
        <button class="navbar-toggler text-left" type="button" data-toggle="collapse" data-target="#home"
            aria-controls="home" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="home">
            <ul class="navbar-nav mr-auto list_items text-center">
                <li class="nav-item section-elements">
                    <a class="nav-link Home" href="/Goodsummaries">Home</a>
                </li>

                <li class="nav-item section-elements">
                    <a class="nav-link " href="/Goodsummaries/challenges">challenges</a>
                </li>

                <li class="nav-item publish section-elements">
                    <a class="nav-link" href="/Goodsummaries/publish">Publish</a>
                </li>
            </ul>
            <ul class="list-unstyled d-flex justify-content-center utilities text-sm-center">
                <%if(user){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/Goodsummaries/profilePage/<%=user.name%>"><i
                                class="fas fa-user-circle"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <li>

                    </li>
                    <%}else{%>
                        <li class="nav-item login">
                            <a class="nav-link " href="/auth/login">Login</a>
                        </li>
                        <li class="nav-item signup">
                            <a class="nav-link " href="/auth/signup">Sign up</a>
                        </li>
                        <%}%>
            </ul>

        </div>
    </div>
</nav>
<!--end navbar-->