<script>
    let status_dropdowns = document.querySelector(".status-dropdowns")
    let status_button = document.querySelector(".status-button")

    status_button.addEventListener("click", () => {
        status_dropdowns.classList.toggle("d-none")
    });
    status


</script>

<script src="../javascripts/jquery-3.5.1.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<script src="../javascripts/popper.min.js"></script>

</body>

</html>