<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="description" content="It's the login page, used to enter the website :)">

  <link rel="preload" href="../css/publish.css" as="style" onload='this.rel="stylesheet"'>
  <link rel="preload" href="../css/bootstrap.min.css" as="style" onload='this.rel="stylesheet"'>
  <link rel="preload" href="../css/header.css" as="style" onload='this.rel="stylesheet"'>
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>

  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="../javascripts/filepond.js"></script>
  <script src="https://cdn.tiny.cloud/1/izfyyegnnafqa89ac21by8or054frlvlnt15wliptepsgr5l/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

  <script>
    tinymce.init({
      selector: '#Summary',
      height: 400,
      plugins: 'lists, link, textpattern ',
      textpattern_patterns: [
        { start: '#', format: 'h1' },
        { start: '##', format: 'h2' },
        { start: '###', format: 'h3' },
        { start: '####', format: 'h4' },
        { start: '#####', format: 'h5' },
        { start: '######', format: 'h6' },
        { start: '*', end: '*', format: 'italic' },
        { start: '**', end: '**', format: 'bold' },
        { start: '-', cmd: 'InsertUnorderedList' },
        { start: '* ', cmd: 'InsertOrderedList' },
        { start: '~', end: '~', cmd: 'createLink' },
        { start: '---', replacement: '<hr/>' }
      ],
      fontsize_formats: "8pt 9pt 10pt 11pt 12pt 14pt 18pt 24pt 30pt 36pt 48pt",
      content_style: "body{font-size:18pt;}",
      toolbar: "undo redo | styleselect | bold italic | fontsizeselect | alignleft aligncenter alignright alignjustify | bullist numlist |forecolor backcolor| preview code | outdent indent",
      menubar: false,
      setup: function (editor) {
        editor.on('change', function (e) {
          editor.save();
        });
      }
    });
  </script>
  <title>Publish</title>

</head>

<body>


  <%-include( "../portials/header" )%>

    <section class="publish">
      <div class="container">
        <%-include( "components/form" )%>
    </section>
    <!--end submit info-->
    <%-include( "../portials/scripts" )%>